<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Shopping</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/commons.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div class="b">
    <div class="h tm">
        <h4 style="padding-top:15px;text-align:center;color:white;">地址管理</h4>
        <div class="back" ng-click="back()">返回</div>
    </div>
    <div class="b_b">
        <div class="container">
            <div class="row" style="background-color:white;margin-top:5px;" ng-repeat="receipt_address in receipt_address_List">
                <div class="col-xs-5">
                    <div class="p" style="color:#646464;text-align: left">收货人:{{receipt_address.receiver}}</div>
                </div>
                <div class="col-xs-7">
                    <div class="p" style="color:#646464; text-align: right">电话:{{receipt_address.telephone}}</div>
                </div>
                <div class="col-xs-12">
                    <div class="p" style="color:#646464;text-align: left">收货地址:{{receipt_address.receiptAddress}}</div>
                </div>
                <div class="col-xs-8">
                    <div class="p" style="color:#646464;" ng-click="updateDefaultAddress(receipt_address.id)">
                        <div style="display:inline-block;width:10px;height:10px;border:1px solid #c3c3c3;border-radius:5px;margin-right:5px;"
                             ng-class="receipt_address.isDefault == true ? 'bg-orange' : 'bg-white'"></div>
                        设为默认
                    </div>
                </div>
                <div class="col-xs-2">
                    <div ng-click="updateAddressShop(receipt_address.id)" style="text-align:right;color:green;font-size:12px;">编辑</div>
                </div>
                <div class="col-xs-2">
                    <div ng-click="deleteAddressShop(receipt_address.id)" style="text-align:right;color:red;font-size:12px;">删除</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="f">
        <div class="btn btn-danger" style="width:100%;height:100%" ng-click="addAddressShop()">新增地址</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/angular.min.js"></script>
<script src="js/zepto.min.js"></script>
<script src="js_controller/cart.js"></script>
<script src="js_controller/api.js"></script>
<script src="js_controller/addresses.js"></script>
<script src="js/common/toast.js"></script>
</body>
</html>