#set($title="用户订单列表")

#parse("./back/inc/header.vm")
<link rel="stylesheet" type="text/css" href="/miao/css/base.css">
<link rel="stylesheet" type="text/css" href="/miao/css/moban.css">
#parse("./back/inc/nav.vm")

<body>
<div class="wrap">
		<div class="cent">
			<div class="head">$title</div>
                <div class="input-box">
					<div><span>订单号：</span>
					 <input type="text" id="orderSn" name="orderSn" />
                    </div>
					<div><span>收获地址：</span>
					 <input type="text" id="receiptAddress" name="receiptAddress" />
                    </div>
					<div><span>订单状态：</span>
                        <select name="orderStatus" id="orderStatus" class="select">
							<option value="">全部</option>
							<option value="buying">待采购</option>
							<option value="alreadyBuy">等待收货</option>
							<option value="confirmReceived">确认收货</option>
							<option value="cancel">已取消</option>
        				</select>
                    </div>
					
					<div><span>下单开始时间：</span>
						<input id="startDate" name="startDate" class="laydate-icon" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
                    </div>
					<div><span>下单结束时间：</span>
						<input id="endDate" name="endDate" class="laydate-icon" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
					</div>
				</div>
				<div class="input-box">
					<div style="widht:400px;">
						<button class="btn btn-success" id="searchOrder">查询</button>
						<button class="btn btn-success" onclick="exportShoppingListExcel()">导出采购清单</button>
						<button class="btn btn-success" onclick="exportDeliveryListExcel()">导出配送信息</button>
                    </div>
		        </div>
                <div class="table-width">
					<table style="width:100%;" class="table" cellspacing="0">
                       <thead >
                           <tr>
        						<th style="width:8%;border-right-style:none;"></th>
        						<th style="width:30%;border-right-style:none;"></th>
        						<th style="width:30%;text-align:center;"></th>
								<th style="width:7%;text-align:center;">订单状态</th>
        						<th style="width:25%;text-align:center;">操作</th>
                           </tr>
					   </thead>
                        <tbody id="tbodyOrder">
						</tbody>
                    </table>
				</div>
				<div class="table-foot">
					<div style="Float:right;margin-right:30px;" id="pageOrder"></div>
				</div>
        </div>
</div>
			
<script type="text/javascript" src="/miao/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/miao/js/laydate/laydate.js"></script>
<script type="text/javascript" src="/miao/js/order/orderList.js"></script>
</body>
#parse("./back/inc/footer.vm")
</html>