/*
* @description: 鐧婚檰娉ㄥ唽鐨勬牱寮�
* @author: 鍛ㄦ棩鎭�
* @update: 鍛ㄦ棩鎭� (2015-10-21 18:32)
*/
input{
    -webkit-appearance: none;
    border-radius: 0;
    outline: none;
}
body{
    background-color: #ebeced;
}
.login-box{
    background-color: #fff;
    height: 8.8333333333rem;
    border-left: 1.6666666666rem solid #fff;
}
.login-box div:nth-child(1){
    font-size:1.25rem ;
    float: left;
    margin: 1.625rem 0.8333333333rem 0 0;
}
.login-box div:nth-child(4){
    font-size:1.25rem ;
    float: left;
    margin: 1.625rem 2.0833333333rem 0 0;
}

.login-box input{
    width: 12rem;
    font-size: 1rem;
    height: 1.2rem;
    margin: 1.625rem 0 1.625rem 0;
}
.forget-pass{
    height: 1rem;
    margin: 0.8333333333rem 0 1.6666666666rem 1.6666666666rem ;
    color: #ff517a;
}
.forget-pass a:nth-child(2){
    float: right;
    margin-right: 1.6666666666rem;
}
button{
    width: 23.3333333333rem;
    height: 3.3333333333rem;
    margin: 0.75rem 0 0.75rem 1.6666666666rem;
    background-color: #ff517a;
    color:#fff;
    padding:0;
    border:0;
    font-size:1.25rem ;
}
.register-box{
    background-color: #fff;
    height: 13.1666666666rem;
    border-left: 1.6666666666rem solid #fff;
}
.register-box div:nth-child(1){
    font-size:1.25rem ;
    float: left;
    margin: 1.625rem 0.8333333333rem 0 0;
}
.register-box div:nth-child(4){
    font-size:1.25rem ;
    float: left;
    margin: 1.625rem 0.8333333333rem 0 0;
}
.register-box div:nth-child(5){
    float: left;
}
.register-box div:nth-child(6){
    font-size:1.25rem ;
    height: 4.375rem;
    line-height: 4.375rem;
    text-align: center;
    width: 7.5rem;
    float: left;
}
.register-box-border-left{
    border-left: 1px solid #ebeced;
}
.register-box div:nth-child(8){
    font-size:1.25rem ;
    float: left;
    margin: 1.625rem 1.6666666666rem 0 0;
}
.register-box input{
    width: 12rem;
    font-size: 1rem;
    height: 1.2rem;
    margin: 1.625rem 0 1.625rem 0;
}
.setuser-box{
    height: 10rem;
    background-color: #fff;
    border-left: 1.6666666666rem solid #fff;
}
.setuser-box div:nth-child(1){
    font-size:1.25rem ;
    float: left;
    margin: 1.625rem 0 2rem 0 ;
}
.setuser-box div:nth-child(2){
    position: relative;
    font-size:1.25rem ;
    float: right;
    margin: 0 9.5rem 0 0 ;
    width: 3.3333333333rem;
}
.setuser-box div:nth-child(4){
    font-size:1.25rem ;
    float: left;
    margin: 1.6666666666rem 0 0 0;
}
.arrows{
    width: 1rem;
    height: 1rem;
    float: right;
    margin: 1.7916666666rem 0.8333333333rem;
}
.arrows span{
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    border-style: solid;
    border-color: #ebeced;
    border-width: 4px 0 0 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*.setuser-box input{*/
    /*width: 12rem;*/
    /*font-size: 1rem;*/
    /*height: 1.2rem;*/
    /*margin: 1.625rem 0 1.625rem 0;*/
/*}*/
.user-head-portrait{
    background: url(../imgs/setuser/head.png);
    background-size: 3.33333333rem 3.33333333rem;
    height: 3.33333333rem;
    width:3.33333333rem;
    /*border-radius: 100%;*/
    margin: 0.9583333333rem 0 0.9583333333rem 0;
    float: right;
}
.head-input{
    position: absolute;
    top:0;
    left: 0;
    height: 3.33333333rem;
    width:3.33333333rem;
    opacity: 0;
    margin: 0.9583333333rem 0 0.9583333333rem 0;
}
.name-vb{
    width: 5rem;
    font-size: 1rem;
    float:right;
    margin: 1.75rem 3.25rem 1.75rem 0;
}
.div-out-login{
    background-color: #fff;
    width: 100%;
    text-align: center;
    height: 4.5833333333rem;
    line-height: 4.5833333333rem;
}
.div-out-login:hover{
    background-color: #ccc;
}
.readme{
    line-height: 3rem;
    font-size: 1rem;
    color: #999;
    padding-left: 1.6666666666rem;
    width: 100%;
    /*background-color: #fff;*/
}
.readme input{
    height: 1rem;
    width: 1rem;
    border: 1px solid #ff517a;
    margin: 0;
    border-radius: 1px;
    background-color: #fff;
    position: relative;
    top:0.0833333333rem;
}
.readme input[type=checkbox]:checked{
    background: url(../img/base/form-select_small.png) no-repeat center center;
    background-size:  1rem  1rem;
}
.proof{
    position: absolute;
    top: 0;
    left: 0;
    width: 21.666666666rem;
    height: 12.25rem;
    opacity: 0;
}
.eval-pic{
    width: 21.666666666rem;
    height: 12.25rem;
    border: 0.0833333333333rem dashed #b3b3b3;
}
.up-body{
    position: relative;
}
.explain{
    margin-top: 5.625rem;
    width: 100%;
    text-align: center;
    font-size:1.25rem;
    color:#b3b3b3;
    height: 1.25rem;
}
.font-size-30px{
    color: #404040;
    font-size: 1.25rem;
    height: 1.25rem;

}